@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Medium.ttf); 
}

body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    min-width: 300px;
    width: 300px;
    max-width: 600px;
    min-height: 200px;
    height: auto;
    top: 50%;
    left: 50%;
    margin: -200px 0 auto -150px;
    background-color: #fff;
    position: absolute;
    box-shadow: 1px 1px 20px #adadad;
    border-radius: 10px;
}

.main-text-block {
    width: 100%;
    text-align: center;
}
.main-text {
    font-size: 1.6em;
    color: #424242;
}
.main-button-block {
    height: auto;
}
.main-buttons-block {
    text-align: center;
    align-items: center;
    justify-content: center;
}
.main-button {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    border: 0;
    border-radius: 7px;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 1.2em;
    width: 85%;
    transition: 0.3s;
    outline: none;
}

.main-buttons-text {
    padding-top: -1%;
    font-size: 0.6em;
    color: #7e7e7e;
}

.main-student-button {
    background-color: #e8a50c;
}

.main-student-button:hover {
    background-color: #c98f0a;
}

.main-student-button:active {
    background-color: #a87808;
}

.main-decan-button {
    background-color: #6d33dd;

}

.main-decan-button:hover {
    background-color: #5024a6;
    color: #e6e6e6;
}

.main-decan-button:active {
    background-color: #3c1b7d;
}

.main-teacher-button {
    background-color: #5090da;
}

.main-teacher-button:hover {
    background-color: #457bba;
    color: #e6e6e6;
}

.main-teacher-button:active {
    background-color: #366091;
}


footer {
    position: fixed;
    text-align: center; 
    bottom: 0; 
    width: 100%;
}

.footer-text {
    font-size: 1em;
    color: #7e7e7e;
}